/* header部分 */
.header {
    font-size: 18px;
    background-color: rgb(197, 227, 241);
}
.header .content-center::after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
.header .content-center .logo-area{
    width: calc(20% + 2em); 
    height: 5em;background-color:red;
    overflow: hidden;
    float: left;
}
.header .content-center .logo-area img{
    height: 80%;
    /* margin-top: 10%; */
    display: block;
}
.header .content-center .nav-header{
    width: calc(80% - 2em);
    height: 5em;
    line-height: 5em;
    float: right;
}
.header .content-center .nav-header > ul{
    list-style: none;
}
.header .content-center .nav-header > ul > li{
    float: left;
    display: block;
    width: 20%;
    text-align: center;
}
