.clearfix {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.imgUnHandle {
  user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.scrollbarNoColor {
  scrollbar-3dlight-color: transparent;
  scrollbar-darkshadow-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-shadow-color: transparent;
  scrollbar-arrow-color: transparent;
  scrollbar-face-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-base-color: transparent;
  scroll-behavior: smooth;
}
.ellipsis-row {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis-row-two {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 多行省略 */
.before-after {
  content: '';
  display: block;
}
.font-awesome-before-after {
  content: '';
  display: block;
  position: absolute;
  font-family: FontAwesome;
  font-size: 48px;
  height: 1em;
  width: 1em;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #999999;
  cursor: pointer;
  display: none;
  border-radius: 1em;
}
.angle-left {
  content: "\f104";
}
.angle-right {
  content: "\f105";
}
.container {
  background-color: #f6f6f6;
}
.content-area {
  background-color: #eeeeee;
  /* 标题栏 */
}
.content-area .banner-area {
  width: 100%;
  height: 400px;
  background: #ffffff;
}
.content-area .banner-area .content-center {
  width: 100%!important;
  max-width: 1920px!important;
  margin: 0 auto;
  height: 100%;
}
.content-area .banner-area .content-center > div {
  width: 100%;
  height: 100%;
}
.content-area .banner-area .content-center > div img {
  height: 100%;
  position: relative;
  max-width: 100%;
  left: 50%;
  *left: 0;
  transform: translateX(-50%);
}
.content-area .category-title {
  display: block;
  line-height: 2.8em;
  height: 2.8em;
  margin-top: 1.5em;
  font-size: 16px;
  border-bottom: 2px solid #c5e3f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.content-area .category-title:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.content-area .category-title > a {
  display: block;
  letter-spacing: 1px;
  font-weight: 600;
  height: 100%;
  padding: 0 1em;
  color: #666666;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.content-area .category-title > a.category-title-name {
  float: left;
  border-bottom: 4px solid #c5e3f1;
  margin-top: 3px;
  cursor: text;
}
.content-area .category-title > a.category-title-more {
  float: right;
  font-size: 14px;
}
.content-area .category-title > a.category-title-more:hover {
  color: #333333;
}
.content-area .product-area {
  margin-top: 1em;
}
.content-area .product-area .content-center {
  background: #ffffff;
  border-radius: 2px;
  padding: 0 0.5em;
}
.content-area .product-area .content-center .product-list {
  width: 100%;
  height: 300px;
  left: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.content-area .product-area .content-center .product-list::before,
.content-area .product-area .content-center .product-list::after {
  content: '';
  display: block;
  position: absolute;
  font-family: FontAwesome;
  font-size: 48px;
  height: 1em;
  width: 1em;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #999999;
  cursor: pointer;
  display: none;
  border-radius: 1em;
  font-size: 36px;
}
.content-area .product-area .content-center .product-list::before {
  content: "\f104";
  left: 0;
}
.content-area .product-area .content-center .product-list::after {
  content: "\f105";
  right: 0;
}
.content-area .product-area .content-center .product-list:hover::before,
.content-area .product-area .content-center .product-list:hover::after {
  color: #666666;
  background-color: rgba(250, 250, 250, 0.8);
  display: block;
}
.content-area .product-area .content-center .product-list.product-can-move > div.product-show {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.content-area .product-area .content-center .product-list.product-can-move > div.product-show:first-child {
  left: 0;
}
.content-area .product-area .content-center .product-list.product-can-move > div.product-show:not(:first-child) {
  left: 100%;
}
.content-area .product-area .content-center .product-list.product-can-move > a {
  display: none;
}
.content-area .product-area .content-center .product-list > div.product-show {
  display: none;
}
.content-area .product-area .content-center .product-list > a,
.content-area .product-area .content-center .product-list.product-can-move > div.product-show > a {
  height: 100%;
  padding: 20px 0;
  width: 25%;
  float: left;
  border-right: 2px solid #fbfbfb;
  overflow: hidden;
  color: #666666;
  background: #ffffff;
}
.content-area .product-area .content-center .product-list > a:nth-child(4),
.content-area .product-area .content-center .product-list.product-can-move > div.product-show > a:last-child {
  border-right-color: transparent;
}
.content-area .product-area .content-center .product-list > a:hover,
.content-area .product-area .content-center .product-list.product-can-move > div.product-show > a:hover {
  color: #4395ff;
}
.content-area .product-area .content-center .product-list > a > img,
.content-area .product-area .content-center .product-list.product-can-move > div.product-show > a > img {
  height: calc(100% - 2em);
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 1em;
  overflow: hidden;
}
.content-area .product-area .content-center .product-list > a > p,
.content-area .product-area .content-center .product-list.product-can-move > div.product-show > a > p {
  text-align: center;
  letter-spacing: 1px;
  height: 2em;
  line-height: calc(2em + 10px);
  /* border-top: 1px solid @black6; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1em;
  display: block;
}
.content-area .news-area .content-center {
  background: #ffffff;
  border-radius: 2px;
  padding: 0 0.5em;
}
.content-area .news-area .content-center .content-list {
  width: 100%;
  padding: 1em 0;
  height: 12em;
  display: flex;
  justify-content: center;
  align-content: space-between;
}
.content-area .news-area .content-center .content-list > div {
  height: 100%;
  line-height: 2em;
  overflow: hidden;
}
.content-area .news-area .content-center .content-list > div.thumb {
  width: 33.33%;
  padding: 0 0.5em;
  overflow: hidden;
}
.content-area .news-area .content-center .content-list > div.thumb > img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 12em;
  display: block;
}
.content-area .news-area .content-center .content-list > div.news-item {
  flex-grow: 1;
  max-width: 33.33%;
  border-right: 2px solid #F5F5F5;
  padding-left: 1em;
}
.content-area .news-area .content-center .content-list > div.news-item > a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 2.5em;
  line-height: 2.5em;
  color: #666666;
  letter-spacing: 1px;
}
.content-area .news-area .content-center .content-list > div.news-item > a:hover {
  color: #4395ff;
}
.content-area .classroom-area .content-center {
  background: #ffffff;
  border-radius: 2px;
  padding: 0 0.5em;
}
.content-area .classroom-area .content-center .content-list {
  display: block;
  padding: 1em 0 2em 0;
  width: 100%;
  min-height: 920px;
  overflow: hidden;
  position: relative;
}
.content-area .classroom-area .content-center .content-list .classroom-list-area {
  min-width: 100%;
  position: relative;
  font-size: 14px;
}
.content-area .classroom-area .content-center .content-list .classroom-list-area::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.content-area .classroom-area .content-center .content-list .classroom-list-area .classroom-item {
  display: block;
  float: left;
  width: 33.33%;
  border-right: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
  padding: 0.5em;
  height: 22em;
  overflow: hidden;
}
.content-area .classroom-area .content-center .content-list .classroom-list-area .classroom-item > div {
  line-height: 2em;
  letter-spacing: 1px;
  padding: 0.5em 1em 0em 1em;
}
.content-area .classroom-area .content-center .content-list .classroom-list-area .classroom-item > div.thumb-img {
  margin: 0 0.5em;
  overflow: hidden;
}
.content-area .classroom-area .content-center .content-list .classroom-list-area .classroom-item > div.thumb-img > img {
  border-radius: 3px;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 12em;
}
.content-area .classroom-area .content-center .content-list .classroom-list-area .classroom-item > div > h4 {
  font-size: 18px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-area .classroom-area .content-center .content-list .classroom-list-area .classroom-item > div > p {
  padding-top: 0.5em;
  line-height: 1.8em;
  height: 6em;
  font-size: 14px;
  color: #666666;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.content-area .classroom-area .content-center .content-list .classroom-list-area .classroom-item > div > p:hover {
  color: #4395ff;
}
.content-area .js-category-block[c-id][p-c-id] {
  display: none;
}
.content-area .info-area {
  padding: 1em  0;
}
.content-area .info-area .content-center {
  background: #ffffff;
  border-radius: 2px;
  height: calc(3em + 1.8em *  5);
  padding: 1em 0.5em;
  margin: 1em 0;
  display: flex;
  overflow: hidden;
  font-size: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.content-area .info-area .content-center > div {
  display: block;
  cursor: pointer;
}
.content-area .info-area .content-center > div.left {
  width: 33.33%;
  padding: 0 0.5em;
  overflow: hidden;
}
.content-area .info-area .content-center > div.left > img {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.content-area .info-area .content-center > div.right {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 17px;
  height: calc(1.8em * 5);
  width: 66.67%;
  padding: 0 1em;
  color: #666666;
  letter-spacing: 1px;
  text-indent: 2em;
  line-height: 1.8em;
  overflow: hidden;
}
