@import './common-common.less';

// footer部分
.footer{
    background-color: #087042;
    font-size: 12px;
    height: 4em;
    line-height: 4em;
    .content-center{
        > div{
            float: left;
            color: #ffffff;
        }
        > div:first-child{
            width: 40%;
            text-align: left;
        }
        > div:last-child{
            width: 60%;
            text-align: right;
        }
    }
}