<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.45,minimum-scale=0.45,maximum-scale=1.5,user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品列表-杭州浩沅科技有限公司</title>
    <link rel="stylesheet" href="./assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/common-index.css">
    <link rel="stylesheet" href="./css/second.css">
    <!-- <link rel="stylesheet/less" href="./less/common-index.less">
    <link rel="stylesheet/less" href="./less/second.less">
    <script src="./assets/less.min.js"></script> -->
</head>
<body>
    <div class="container">
        <div class="header"></div>
        <div class="content-area">
            <!-- banner图部分 -->
            <div class="banner-area">
                <div class="content-center js-category-banner-container">
                    <script id="js-category-banner" type="text/html">
                        <img src="{{categoryImgUrl}}">
                    </script>
                </div>
            </div>

            <!-- 二级导航部分 -->
            <div class="website-local">
                <div class="content-center js-second-category-container">
                    <script id="js-second-category" type="text/html">
                        <span>{{layoutData.youLocal}}：</span>
                        <a class="no-list" href="/">{{layoutData.home}}</a>
                        <span class="fa fa-angle-right"></span>
                        <a class="no-list" href="./product-list.html?c=-1">{{layoutData.productCenter}}</a>
                        <span class="fa fa-angle-right js-last-angle"></span>
                        {{each categorysList it i}}
                            <a href="{{it.url}}" data-index="{{i}}" >{{it.name}}</a>
                        {{/each}}
                     </script>
                </div>
            </div>

            <!-- 产品搜索部分 -->
            <div class="search-area">
                <div class="content-center">
                    <div class="fast-search js-product-category-container">
                        <script id="js-product-category" type="text/html">
                            <span class="title">{{layoutData.product_category}}</span>
                            <div class="list-group">
                                {{each categorysList it i}}
                                    <a href="{{it.url}}" class="js-category-item" data-id="{{it.id}}">{{it.name}}</a>
                                {{/each}}
                            </div>
                        </script>
                    </div>
                    <form action="">
                        <div class="category-search js-search-product-container">
                            <script id="js-search-product" type="text/html">
                                <div class="cs-item">
                                    <span>{{layoutData.impellerDiameter}}</span>
                                    <select name="impeller_diameter">
                                        {{each impellerDiameterArr it i}}
                                        <option value="{{it.name}}" {{if it.name === condition.impeller_diameter}}selected{{/if}}>{{it.value}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="cs-item">
                                    <span>{{layoutData.airVolume}}</span>
                                    <select name="air_volume">
                                        {{each airVolumeArr it i}}
                                        <option value="{{it.name}}" {{if it.name === condition.air_volume}}selected{{/if}}>{{it.value}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="cs-item">
                                    <span>{{layoutData.powerCategory}}</span>
                                    <select name="power_category">
                                        {{each powerCategoryArr it i}}
                                        <option value="{{it.name}}" {{if it.name === condition.power_category}}selected{{/if}}>{{it.value}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="cs-item">
                                    <span>{{layoutData.voltage}}</span>
                                    <select name="voltage">
                                        {{each voltageArr it i}}
                                        <option value="{{it.name}}" {{if it.name === condition.voltage}}selected{{/if}}>{{it.value}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="cs-item">
                                    <span>{{layoutData.frequency}}</span>
                                    <select name="frequency">
                                        {{each frequencyArr it i}}
                                        <option value="{{it.name}}" {{if it.name === condition.frequency}}selected{{/if}}>{{it.value}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </script>
                        </div>
                        <div class="handle-bar js-search-product-handlebar-container">
                            <script id="js-search-product-handlebar" type="text/html">
                                <a><button type="submit">{{layoutData.applyCondition}}</button></a>
                                <a href="#" data-handle="searchAll">{{layoutData.showAll}}</a>
                            </script>
                        </div>
                    </form>    
                </div>
            </div>

            <!-- 产品列表部分 -->
            <div class="second-content">
                <div class="content-center js-second-category-content-container">
                    <script id="js-second-category-content" type="text/html">
                        <div class="product-list"> 
                        {{if data !== null && data.length > 0}}
                            {{each data it i}}
                            <a href="./product-detail.html?c={{categoryIndex}}&id={{it.id}}">
                                <div class="left">
                                    <img src="{{it.thumb}}">
                                </div>
                                <div class="right">
                                    <p>{{it.title}}</p>
                                    <p>{{layoutData.voltage}}：{{it.voltage}}</p>
                                    <p>{{layoutData.frequency}}：{{it.frequency}}</p>
                                </div>
                            </a>
                            {{/each}}
                        {{else/}}
                            <h4 style="color: #999;line-height: 5em;padding-left: 1em;font-weight: normal;text-align: center;">{{layoutData.noDataText}}</h4>
                        {{/if}}
                        </div>
                    </script>
                </div>              
            </div>

        </div>
        <div class="footer"></div>
    </div>
</body>
<script src="./js/common.js"></script>
<script src="./js/server.js"></script>
<script src="./js/storage.js"></script>
<script src="./js/common-page.js"></script>
<script src="./assets/jquery-3.3.1.min.js"></script>
<script src="./assets/template-web.js"></script>
<script src="./js/common-header.js"></script>
<script src="./js/common-footer.js"></script>
<script src="./js/product-list.js"></script>
</html>